<section class="gallery">
  <h2 style="color: aliceblue">My Artwork</h2>

  <div class="categories">
    <button
      *ngFor="let category of categories"
      (click)="filterCategory(category)"
    >
      {{ category }}
    </button>
  </div>

  <div class="grid">
    <div
      *ngFor="let artwork of filteredArtworks"
      class="art-card"
      (click)="openModal(artwork)"
    >
      <img [src]="artwork.src" [alt]="artwork.title" loading="lazy" />
      <h3>{{ artwork.title }}</h3>
      <p>{{ artwork.category }}</p>
      <p>{{ artwork.text }}</p>
    </div>
  </div>

  <div class="modal" *ngIf="selectedArtwork" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <img [src]="selectedArtwork.src" [alt]="selectedArtwork.title" />
      <h2>{{ selectedArtwork.title }}</h2>
      <p>{{ selectedArtwork.text }}</p>
      <button class="close-btn" (click)="closeModal()">Χ</button>
    </div>
  </div>
</section>
