<div class="contact-container">
  <h1>Contact Me</h1>
  <p>
    If you have any questions or just want to connect, feel free to reach out!
  </p>

  <div class="contact-info">
    <a href="mailto:spiliotisch@yahoo.gr"
      ><p><strong>Email:</strong> spiliotisch&#64;yahoo.gr</p></a
    >
    <a href="https://www.facebook.com/spiliotisch" target="_blank"
      ><p><strong>Facebook:</strong> Christos Spiliotis</p></a
    >
    <a href="https://www.instagram.com/chris___spiliotis/" target="_blank"
      ><p><strong>Instagram:</strong> chris___spiliotis</p></a
    >
    <p><strong>Location:</strong> Kimi, Greece</p>
  </div>
</div>
